@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #141212;
}

/* .grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
} */

header {
  /* grid-area: header; */
  background: rgba(51, 51, 51, 0.8);
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 50px;
}

main {
  /* grid-area: main; */
  /* text-align: center; */
  padding: 0;
  margin: 0;
}

footer {
  /* grid-area: footer;*/
  margin-top: auto;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: #2C2C2C;
  color: #ffffff;
}